<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="userDefine">
        <environment id="userDefine">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="com.xinyunlian.spider.db.customer.DruidDataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.200.235:3306/accn"/>
                <property name="username" value="erp"/>
                <property name="password" value="erpuser"/>
                <!-- 配置初始化大小、最小、最大 -->
                <property name="initialSize" value="10" />
                <property name="minIdle" value="10" />
                <property name="maxActive" value="50" />
                <!-- 配置获取连接等待超时的时间 -->
                <property name="maxWait" value="5000" />
                <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
                <property name="timeBetweenEvictionRunsMillis" value="60000" />
                <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
                <property name="minEvictableIdleTimeMillis" value="300000" />
                <property name="validationQuery" value="select 1  from p_attribute" />
                <property name="testWhileIdle" value="true" />
                <property name="testOnBorrow" value="false" />
                <property name="testOnReturn" value="false" />
                <!-- 打开PSCache，并且指定每个连接上PSCache的大小（Oracle使用） <property name="poolPreparedStatements" value="true" /> <property name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
                <!-- 配置监控统计拦截的filters -->
                <property name="filters" value="stat" />

            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="GoodsAttrModelMapper.xml" />
        <mapper resource="GoodsImageModelMapper.xml"/>
        <mapper resource="GoodsModelMapper.xml"/>
    </mappers>
    <!--<typeAliases>-->
        <!--<typeAlias alias="VerificationEntity" type="com.nb.verification.model.VerificationModel" />-->
        <!--<typeAlias alias="VerificationEntity" type="com.nb.verification.model.VerificationModel" />-->
        <!--<typeAlias alias="VerificationEntity" type="com.nb.verification.model.VerificationModel" />-->
    <!--</typeAliases>-->
</configuration>